/* Modal */
.tm-modal-editor {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate( -50%,-50% );
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

.tm-modal-editor.open {
	display: block;
}

.tm-modal-editor a {
	transition: all 0.3s;
}

.tm-modal__backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 88;
	background-color: rgba(0, 0, 0, 0.8);
}

.tm-modal__container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background-color: #f1f3f5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%,-50% );
	border-radius: 3px;
	z-index: 888;
}

.tm-modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 0 8px rgb(0 0 0 / 10%);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.tm-modal__title {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
}

.tm-modal__close-button {
	font-size: 18px;
	cursor: pointer;
}

.tm-modal__content {
	height: 600px;
    max-height: 70vh;
	overflow: auto;
	text-align: center;
}

.tm-modal__content-wrapper {
	overflow: auto;
	padding: 50px;
	height: 100%;
}

.tm-modal__content-heading {
    font-size: 32px;
    color: #000;
    margin-bottom: 50px;
}

.tm-modal__footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	padding: 10px 15px;
	box-shadow: 0 0 8px rgb(0 0 0 / 10%);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.tm-modal__save-button {
	min-width: 160px;
	display: inline-flex;
	justify-content: center;
	height: 40px;
	align-items: center;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border-radius: 3px;
}

.tm-modal__save-button:hover {
	color: #fff;
}

.tm-modal__save-button.loading {
	opacity: 0.6;
}

.tm-condition-form {
	max-width: 800px;
	width: 100%;
	margin: auto;
}

.tm-condition-form__field {
	position: relative;
	padding-right: 30px;
	margin-bottom: 15px;
}

.tm-condition-form__action {
	margin-top: 50px;
}

.tm-condition-form__add-new {
    min-width: 160px;
	display: inline-flex;
	justify-content: center;
	height: 40px;
	align-items: center;
	background-color: #a4afb7;
	color: #fff;
	font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
}

.tm-condition-form__add-new:hover {
	color: #fff;
	background-color: #000;
}

.tm-condition-form__remove {
	position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tm-condition-form__conditions {
	display: flex;
	align-items: center;
	flex-grow: 1;
	box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
}

.tm-condition-form__condition {
	flex-grow: 1;
}

.tm-condition-form__condition + .tm-condition-form__condition {
	border-left: 2px solid transparent;
}

.tm-condition-form input,
.tm-condition-form select {
	background-color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    height: 40px;
}

.tm-condition-form__condition-id {
	width: 100px;
}

.hidden {
	display: none;
	visibility: hidden;
}

.conditions-conflict-message {
	color: #b01b1b;
	margin-top: 10px;
}

.conditions-conflict-message a {
	color: #b01b1b;
	font-weight: 500;
	text-decoration: underline;
}

/* Select2 css */
.tm-modal-editor .select2-container--default .select2-selection--single {
	height: 40px;
	border-radius: 0;
	border: 0;
}

.tm-modal-editor .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
	padding-left: 12px;
	text-align: left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tm-modal-editor .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
}