img {
	max-width: 100%;
}

#tm-template-modal ::-webkit-scrollbar {
	width: 6px;
	height: 0;
	border-radius: 3px;
}

#tm-template-modal ::-webkit-scrollbar-button {
	width: 0;
	height: 10px;
}

#tm-template-modal ::-webkit-scrollbar-thumb {
	background-color: #d5dadf;
	border: 0 none #d5dadf;
	border-radius: 0;
	border-radius: 3px;
}

#tm-template-modal ::-webkit-scrollbar-track {
	border: 0 none #fff;
	border-radius: 0;
}

#tm-template-modal ::-webkit-scrollbar-corner {
	background: transparent;
}

/*Header*/
#tm-template-modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;

	height: 50px;
}

#tm-template-modal-header-logo {
	display: flex;
	align-items: center;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
}

#tm-template-modal-header-logo-area {
	padding-left: 15px;
}

.tm-template-modal-header-logo-icon {
	padding: 10px;
	background-color: #000;
	border-radius: 50%;
	width: 38px;
	height: 38px;
}

.tm-template-modal-header-logo-label {
	margin-left: 10px;
}

#tm-template-modal-header .tm-template-modal-back {
	background: none;
	border: none;
	border-right: 1px solid #e6e9ec;
	padding: 15px 20px 15px 15px;
	line-height: 20px;
	font-size: 13px;
	font-weight: 700;
	outline: none;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;
	color: #6d7882;
}

#tm-template-modal-header .tm-template-modal-back:not(:hover) {
	color: #a4afb7;
}

#tm-template-modal-header .elementor-button {
	padding: 8px 10px;
}

#tm-template-modal-sync-button {
	width: 100%;
	text-align: right;
}

#tm-template-modal-sync-button .tm-template-sync {
	font-size: 18px;
    color: #a4afb7;
	background: transparent;
    box-shadow: unset;
    outline: none;
    border: 0;
    cursor: pointer;
}

#tm-template-modal-sync-button .tm-template-sync:hover {
	color: #6d7882;
}

#tm-template-modal-header-close-modal {
	width: 45px;
	border-left: 1px solid #e6e9ec;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	margin-left: 10px;
}

#tm-template-modal-header-close-modal i {
	color: #a4afb7;
	font-size: 16px;
}

#tm-template-modal-header-close-modal:hover i {
	color: #6d7882;
}

#tm-template-modal-header-tabs {
	display: flex;
	align-items: center;
	flex-grow: 2;
}

/*Preview*/
#tm-templatate-item-preview-wrap,
#tm-templatate-item-preview-wrap .tm-template-item-preview-iframe {
	height: 100%;
	overflow: hidden;
}

#tm-templatate-item-preview-wrap iframe {
	width: 100%;
	height: 100%;
}

/*Content*/
#tm-modal-templates-container {
	display: flex;
	flex-wrap: wrap;
	/*margin: 10px -15px 0;*/
}

#tm-modal-templates-container .elementor-template-library-template {
	width: calc(33.333% - 30px);
	margin: 15px;
	background: transparent;
	box-shadow: unset;
	border-radius: 0;
	padding: 0;
}

.tm-template-library__wrapper {
	padding: 8px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.07);
    border-radius: 3px;
}

.elementor-template-library-template:hover .tm-template-library-template-preview {
	opacity: 1;
}

.tm-template-library-template-body {
	position: relative;
}

.tm-template-library-template-preview {
	color: #fff;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	transition: all 0.3s;
	cursor: pointer;
}

.tm-template-library-template-footer {
	margin-top: 5px;
	text-align: center;
}

.tm-template-library-template-title {
	color: #6d7882;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.elementor-template-library-template .tm-template-insert {
	font-size: 12px;
	background: transparent !important;
	color: #39b54a;
	box-shadow: unset !important;
	margin: 3px auto 0;
	box-shadow: unset;
	outline: none;
	border: 0;
	text-transform: uppercase;
	width: 100%;
	cursor: pointer;
}

.elementor-template-library-template .tm-template-insert:focus {
	box-shadow: unset;
	outline: none;
	border: 0;
}

.elementor-template-library-template .tm-template-insert i {
	margin-right: 2px;
}